.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
}

.toggle-button {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-title {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  flex-shrink: 0;
}

.search-bar-container {
  position: relative;
  flex-grow: 1;
  max-width: 300px;
  margin: 0 20px;
}

.search-bar {
  width: 100%;
  background-color: #F5F7FA;
  padding: 5px 10px 5px 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #ccc;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.navbar-icon{
  padding: 8px;
  font-size: 20px;
  border-radius: 50%;
  color: gray;
  background-color: #F5F7FA;
}

.navbar-bell-icon{
  padding: 8px;
  font-size: 20px;
  border-radius: 50%;
  color: blue;
  background-color: #F5F7FA;
}

.icon-button {
  background: none;
  border: none;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.profile-picture {
  width: 35px;
  height: 35px;
  margin: 0 10px 0 10px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .search-bar-container {
    max-width: 100%;
    margin: 10px 0;
  }

  .navbar-icons {
    margin-top: 10px;
  }
}
