.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}

.arrow {
  color: gray;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.slider {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
  width: 80%;
  padding: 0 10px;
}

.user-card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 180px;
  margin-top: 20px;
}

.user-card img.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-card h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 5px;
}

.user-card p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.send-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.label-amount {
  font-size: 16px;
  color: gray;
  justify-content: center;
  align-items: center;
}

.input-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 300px;
}

.amount-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  color: gray;
  border-radius: 20px 20px;
  width: 100%;
}


.send-button {
  position: absolute;
  right: 0;
  padding: 8px 12px;
  background-color: #232323;
  width: 120px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  z-index: 1;
}

@media (max-width: 768px) {
  .slider {
    width: 100%;
  }

  .user-card {
    width: 150px;
  }

  .send-section {
    flex-direction: column;
    gap: 10px;
  }

  .send-button {
    width: 100%;
    margin-top: 10px;
  }
}
